/* font-family: 'Montserrat', sans-serif; */

#mainHeader {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  text-align: right;
}

.carousel-indicators li {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background-color: white;
}

.explore-keremet {
  font-weight: 500;
  font-size: 40px;
  margin-top: 3rem;
}

hr {
  width: 5%;
    border: dotted #c05555 6px;
    border-bottom: none;
}

.product-list-item {
  display: inline-block;
  list-style-type: none;
  margin: 1%;
}

.product-list {
  text-align: center;
}



.footer-menu {
  color: black;
  font-weight: bold;
  margin: 3rem auto;
}

.copyright {
  color: grey;
  font-size: 1rem;
  margin: 30px auto 0 auto;
  padding: 20px 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  text-align: center;
}

.card:hover {
transform: translateY(20px);
transition-duration: 1s;
}